@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.bear {
  width: 50%;
}

.bear:hover .ears{
  transform: translateY(-10px);
}

.ears {
  transform: translateY(0);
  transition: all 1s linear;
}

@keyframes ears {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.eyes {
  transform: translateX(0);
  animation: eyes 1500ms linear infinite alternate;
}

@keyframes eyes {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
